body{
    background-color: #EDF2C5;

}
.contain{
    width: 940px;
    height: 792px;

    padding-top: 53px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.head-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.VEG{
    color: #778A50;
    font-size: 44px;
    width: 262px;
    height: 50px;
    font-family: 'Arial Black';
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
}
.button{
    height: 25px;
    display: flex;
    flex-direction: row;
}
.btn-l{
    border-right: #778A50 1px solid;
    width: 70px;
    display: flex;
    flex-direction: row;
}
.btn_fb{
    color: #778A50;
    height: 25px;
    width: 25px;
}
.btn_ig{
    color: #778A50;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.LOGIN{
    border: #778A50 1px solid;
    color: #778A50;
    height: 22.08px;
    width: 60px;
    margin-left: 10px;
    font-family: 'Arial BoldMT';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JOIN{
    border: #778A50 1px solid;
    color: #778A50;
    height: 22.08px;
    width: 50px;
    margin-left: 10px;
    font-family: 'Arial BoldMT';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JOIN:hover{
    background-color: #778A50;
    color: #EDF2C5;
    cursor: pointer;
}
.LOGIN:hover{
    background-color: #778A50;
    color: #EDF2C5;
    cursor: pointer;
}
.btn_fb:hover{
    cursor: pointer;
}
.btn_ig:hover{
    cursor: pointer;
}


.title{
    background-color: #778A50;
    height: 44px;
    width: 940px;
    margin-bottom: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-left: 30px;
    
}
li{
    color: #EDF2C5;
    font-size: 16px ;
    font-family: 'Arial Black' ;
    list-style: none;
    margin-right: 60px;
    margin-top: 10px;
}
li:hover{
    color: #F7FBDA;
    cursor: pointer;
}
.img_main_pumpkin{
    height: 448px;
    width: 940px;
}

article{
    display: flex;
    flex-direction: row;
    height: 200px;
    padding-top: 30px;
}
.article-box{
    height: 200px;
    width: 444px;
}
.article-box-r{
    height: 200px;
    width: 444px;
    margin-left: 52px;
}

.title-back{
    background-color: #778A50;
    width: 444px;
    height: 45px;
    margin-bottom: 15px;
    display: flex;
    align-content: flex-start;
}

.title-text{
    color: #EDF2C5;
    font-size: 16px;
    font-family: 'Arial Black' ;
}

.img_vegetable{
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: row;   
}

.img-carrot{
    margin-right: 12px;
    margin-left: 12px;
}

.textC{
    background-color: #F7FBDA;
    height: 140px;
    min-width: 445px;
    display: flex;
    flex-direction: column;  
}
.textC-a{
    height: 74px;
}
.textC-line{
    width: 414px;
    height: 3.5px;
    margin: 0 15px;
    border-bottom: #7d7d7d 1px solid;
    margin-bottom: 15px;
}
.textC-b{
    height: 64px;
    margin-bottom: 0px;
}
.text-b1{
    margin: 0px;
    margin-left: 15px;
}
p{
    color: #7D7D7D;
    font-size: 1.2px;
    font-family: 'ArialMT Regular';
    line-height: 1.33;
    margin: 15px;
}
footer{
    background-color: #778A50;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.textF{
    color: #EDF2C5;
    font-size: 12px;
    font-family: 'ArialMT Regular';
    display: flex;
    align-self: center;
    text-align: center;
}